
.btn-theme {
    background: #4169E1;
    border: 2px solid #4169E1;
}

.btn-theme:hover {
    background: #385fd4;
    border: 2px solid #385fd4;
}

.top-header {
    background: #4169E1;
}

.setting-button {
    background: #4169E1;
}

.btn-1{
    color: #4169E1;
    border: 2px solid #4169E1;
}

.btn-1:before {
    background: #4169E1;
    border-color: #4169E1;
}

.search-area-box-3 .price {
    color: #4169E1;
}

.category-posts ul li a:hover {
    color: #4169E1;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #4169E1;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #4169E1;
}

.heading-rooms h3 {
    color: #4169E1;
}

.heading-rooms p i {
    color: #4169E1;
}

.pagination .page-item a:hover {
    background: #fba466;
    border-color: #fba466;
}

.archives ul li a:hover {
    color: #4169E1;
}

.tags-box ul li a:hover {
    border: 1px solid #4169E1;
    background: #4169E1;
}

.btn-1 span{
    color: #4169E1;
}

.btn-2 {
    background: #4169E1;
    border: solid 2px #4169E1;
}

.btn-2:hover {
    color: #4169E1;
    border: solid 2px #4169E1;
}

.btn-2:before {
    background: #4169E1;
}

.btn-3:hover {
    color: #4169E1;
}

.btn-5:after{
    background: #4169E1;
}

.btn-5{
    color: #4169E1;
    border: 2px solid #4169E1;
}

.about-hotel-alpha .about-content-section h5 span {
    color: #4169E1;
}

.about-hotel-alpha .about-content-section h5 span {
    color: #4169E1;
}

#main-header-2 .btn-4 {
    color: #4169E1;
}

#main-header-3 .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #4169E1;
}

#main-header-3 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #4169E1;
}

.header-search .btn-default, .header-search .btn-default:focus, .header-search .btn-default:hover {
    background: #4169E1;
}

.comon-slick .csi2 .slick-next:hover {
    background: #4169E1;
}

.about-hotel-alpha .about-img-section .about-box-Experience{
    background: #4169E1;
}

.about-hotel-alpha-3 h5 span{
    color: #4169E1;
}

.about-hotel-alpha-2 h5 span{
    color: #4169E1;
}

.about-hotel-alpha-3 .carousel-indicators .active {
    background: rgb(244, 164, 96);
}

.about-content-section .network-list li .icon {
    color: #4169E1;
}

.about-content-section .network-list li:hover h4{
    color: #4169E1;
}

.about-content-section .network-list li:hover .icon {
    background: #4169E1;
}

.hotel-box .detail h3 a:hover{
    color: #4169E1;
}

.hotel-box:hover .detail h3 a{
    color: #4169E1;
}

.services-box-2 i{
    background: #4169E1;
}

.services-box-2:hover h3 a{
    color: #4169E1;
}

.testimonials-3::before {
    background: #4169E1;
}

.testimonials-3 .carousel-indicators .active{
    background: #4169E1!important;
}


.popular-places-item .read-more-btn:hover{
    background: #4169E1;
    color: #fff;
}

.read-more-btn {
    color: #4169E1;
}


.blog-1 .detail .post-meta span a i {
    color:#4169E1;
}

.blog-1 .post-meta ul li i{
    color: #4169E1;
}

.blog-1 .post-meta ul li i {
    color: #4169E1;
}

.blog-1 .date-box {
    background: #4169E1;
}

.blog-1 .date-box::after {
    border-right: 10px solid #4169E1;
}

.blog-1:hover .date-box{
    color: #4169E1;
}

.blog-1:hover .date-box span{
    color: #4169E1;
}

.blog-1 .post-meta ul li i{
    color: #4169E1;
}

.blog-1 .detail h3 a:hover{
    color: #4169E1;
}

.partners-2::after {
    background: #4169E1;
}

.recent-news-item h3 a:hover {
    color: #4169E1;
}

.hotel-box-3 h3 span{
    color: #4169E1;
}

.hotel-box-3 .text a:hover{
    color: #4169E1;
}

.hotel-box-3:hover .read-more-btn:hover{
    background: #4169E1;
    color: #fff;
}

.hotel-box-3:hover .read-more-btn{
    color: #4169E1;
}

.comon-slick .csi2 .slick-prev {
    color: #4169E1;
}

.comon-slick .csi2 .slick-prev:hover {
    background: #4169E1;
}

.services-box-3.df-box:before {
    background: #4169E1;
}

.services-box-3 i{
    color: #4169E1;
}

.services-box-3:hover h5 a{
    color: #4169E1;
}

.events-box-3 .event-title:hover{
    color: #4169E1;
}

.events-box-3 .event-title a:hover{
    color: #4169E1;
}

.events-box-3:hover .bordered-btn{
    border: solid 2px #fba466;
    background: #fba466;
}

.events-box-3 .meta .category {
    background: #fba466;
}

.events-box-3:hover .event-thumb{
    background: #4169E1;
}

.counters-2 .counter-box .counter-style .counter-num {
    color: #4169E1;
}

.staff-box-1 .content h4 a:hover{
    color: #4169E1;
}

.testimonial-5 .testimonial-info .job{
    color: #4169E1;
}

.blog-4:hover .post-date{
    background: #fba466;
    color: #fff;
}

.newsletter form .btn-small {
    border: solid 1px #4169E1;
    background: #4169E1;
}

#banner-4 .btn-4{
    color: #4169E1;
}

#banner-4 .btn-4:hover{
    background: #4169E1;
}

#banner-4 .btn-4:after {
    background: #4169E1;
}

#banner-2 .banner-test-info .btn-5:hover {
    border: 2px solid #4169E1;
}

.search-area-box-2 h4 span {
    color: #4169E1;
}

.btn-4 {
    background: #4169E1;
}

.btn-4:after {
    background: #385fd4;
}

#banner-3 h3 span {
    color: #4169E1;
}

.about-text ul li i {
    color: #4169E1;
}

.hotel-box-4 .detail h3 a{
    color: #4169E1;
}

.hotel-box-4 .carousel-indicators .active {
    background: #4169E1;
}

.our-facilties-section-3 .our-facilties-2 ul li:hover{
    background: #4169E1;
}

.our-facilties-section-3 .our-facilties-2 ul li i {
    border: solid 2px #fba466;
    background: #fba466;
}

.events-box-2 .content .date-author {
    color: #4169E1;
}

.events-box-2:hover .content, .events-box-2:hover .content:after {
    background: #4169E1;
}

.events-box-2 .date{
    color: #4169E1;
}

.events-box-2:hover .date{
    background: #4169E1;
    color: #fff;
}

.staff-box-3 .detail h3 a:hover{
    color: #4169E1;
}

.staff-box-3::before {
    background: #4169E1;
}

.blog-2 .date-box {
    color: #4169E1;
}

.blog-2 .detail h3 a:hover{
    color: #4169E1;
}

.intro-section {
    background: #4169E1;
}

#banner-4 h1 span{
    color: #4169E1;
}

#banner-4 .carousel-indicators .active {
    background: #4169E1;
}

.hotel-box-list-2.hbl-2 .detail h3 span{
    color: #4169E1;
}

.hotel-box-list-2.hbl-2 .detail h3 a:hover{
    color: #4169E1;
}

.hotel-box-list-2.hbl-2 .price{
    color: #4169E1;
}

.hotel-box-list-2 .detail h3 a:hover{
    color: #4169E1;
}

.hotel-box-list .detail h3 a:hover{
    color: #4169E1;
}

.sub-banner .breadcrumb-item a {
    color: #4169E1;
}

.sub-banner .breadcrumb-item + .breadcrumb-item::before {
    background: #4169E1;
}

.pagination .page-item .active {
    background: #fba466;
    border-color: #fba466;
    color: #fff;
}

.room-info-heading .room-info-heading-inner h2 a:hover{
    color: #4169E1;
}

.room-info-heading .room-info-heading-inner h2 span {
    color: #4169E1;
}

.room-info-heading .room-info-heading-inner ul li i{
    color: #4169E1;
}

.for-sale {
    background: #4169E1;
}

.comment-meta-reply a {
    background: #4169E1;
}

.extra-service-item .price {
    color: #4169E1;
}

.amenities ul li i {
    color: #4169E1;
}

.house-rules ul li i {
    color: #4169E1;
}

.latest-tweet a {
    color: #4169E1;
}

.services-box:hover h3 a{
    color: #4169E1;
}

.services-box:before {
    background: #4169E1;
}

.services-box:after {
    background: #4169E1;
}

.services-box i {
    color: #4169E1;
}

.services-box .icon i {
    color: #4169E1;
}

.events-box .date-box {
    color: #4169E1;
}

.events-box h1 a:hover{
    color: #4169E1;
}

.option-panel h2 {
    color: #4169E1;
}

.staff-box-2 .detail h4 a:hover{
    color: #4169E1;
}

.staff-box-2 .content h1 a{
    color: #4169E1;
}

.testimonial-4 .testimonial-item-new .left-line::before {
    background: #4169E1;
}

.testimonial-4 .testimonial-item-new .author-img .icon {
    background: #4169E1;
}

.testimonial-4 .testimonial-item-new .author-content h5 .desig {
    color: #4169E1;
}

.blog-3 .post-meta li i{
    color: #4169E1;
}

.blog-3 .title a:hover{
    color: #4169E1;
}

.contact-1 .contact-item i {
    color: #4169E1;
}

.login-section .info h1 span {
    color: #4169E1;
}

.pricing-1 .plan-header .plan-price {
    color: #4169E1;
}

.pricing-1::before {
    background: #4169E1;
}

.pricing-1 .pricing-btn {
    border: solid 1px #4169E1;
    color: #4169E1;
}

.list-inline-listing .active{
    background: #4169E1;
}

.list-inline-listing li:hover{
    background: #4169E1;
}

#page_scroller {
    background: #4169E1;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff!important;
    background-color: #4169E1;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    background: #4169E1;
}

.login-section .form-section input[type=checkbox]:checked + label:before {
    color: #fff;
    background: #4169E1;
    border: solid 1px #4169E1;
}

.get-in-touch .sidebar-contact-info:hover .icon{
    background: #4169E1;
    color: #fff;
}

.sidebar-heading-section .sidebar-navigation .active {
    color: #4169E1;
}

.sidebar-heading-section .sidebar-navigation ul li a:hover {
    color: #4169E1;!important: ;
}

#dismiss {
    color: #4169E1;
}

.search-area-box-1 .search-contents h3 span {
    color: #4169E1;
}

#main-header-4 .contact-now .left{
    background-color: #385fd4;
}


#top-header-2::after {
    background-color: #4169E1;
}

#top-header-2 .top-social-media li a:hover{
    background: #4169E1!important;
}

#main-header-4 .header-right {
    background-color: #4169E1;
}

#main-header-1 .navbar-expand-lg .navbar-nav .active  .nav-link{
    color: #4169E1;
}

#main-header-1 .navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #4169E1;
}

#main-header-1 .dropdown-menu a:hover {
    background: #4169E1!important;
    border-bottom: solid 1px #4169E1;
}

.booling-details-box .carousel-indicators .active {
    background: #4169E1;
}

.stepwizard .btn-circle {
    border: 2px solid #4169E1;
    color: #4169E1;
}

.stepwizard .btn-circle:hover{
    border: 2px solid #4169E1;
    background: #4169E1;
}

.stepwizard .btn-success {
    background: #4169E1!important;
    border: 2px solid #4169E1!important;
}

.datepicker table tr td.day.focused, .datepicker table tr td.day:hover{
    background: #4169E1;
    color: #fff;
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th{
    background: #4169E1;
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
    background: #4169E1;
}